@font-face {
    font-family: "font1";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "font2";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  html,
  body, p {
    font-family: font1;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .font1{
    font-family: font1;
  }
  
  .font2{
    font-family: font2;
  }
  
  .pre-heading-title{
    color: #869099;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .heading-title{
    color: #161616;
    font-family: font1, Sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.4px;
    line-height: 1;
    text-align: center;
    margin: 20px;
  }
  
  .page-container{
    height: 100vh;
  }
  
  .page{
    padding: 0px;
    width: 80%;
  }
  
  .form-div{
    width: 80%;
    padding: 30px;
  }
  
  @media (max-width: 540px){
    .page-container{
        height: auto;
    }
    .page{
      width: 100%;
    }
    .form-div{
      width: 100%;
    }
  } 